name: Build Deploy
# Builds and and deploys image of Paynt with additional dependencies to Dockerhub

on:
  push:
    branches:
      - master
  schedule:
    # run weekly
    - cron: '0 10 * * 3'
  # needed to trigger the workflow manually
  workflow_dispatch:
  pull_request:

env:
  GIT_URL: "${{ github.server_url }}/${{ github.repository }}.git"
  BRANCH: "${{ github.ref }}"
  # GitHub runners currently have two cores
  NR_JOBS: "2"

jobs:
  deploy-learning:
    name: Deploy on latest with learning dependencies (${{ matrix.buildType.name }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        buildType:
          - {name: "Release", baseImageName : "randriu/paynt", imageName : "${{ secrets.DOCKERHUB_USERNAME }}/paynt-learner", dockerTag: "latest", setupArgs: ""}
      fail-fast: false
    steps:
      - name: Git clone
        uses: actions/checkout@v4
      - name: Build paynt image with learner dependencies
        run: docker build -t ${{ matrix.buildType.imageName }}:${{ matrix.buildType.dockerTag }} . -f Dockerfile --build-arg paynt_base=${{ matrix.buildType.baseImageName }}:${{ matrix.buildType.dockerTag }}
      - name: Login into docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        # Only login if using master on this forked repo
        if: github.repository_owner == 'marisgg' && github.ref == 'refs/heads/master'
      - name: Deploy paynt image with learner dependencies
        # Only deploy if using master on this forked repo
        if: github.repository_owner == 'marisgg' && github.ref == 'refs/heads/master'
        run: docker push ${{ matrix.buildType.imageName }}:${{ matrix.buildType.dockerTag }}
